spring:
  application:
    name: backend

  mvc:
    contentnegotiation:
      favor-parameter: true

  http:
    converters:
      preferred-json-mapper: gson

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  servlet:
    multipart:
      enabled: true
      max-file-size: 1024MB
      max-request-size: 1024MB

  datasource:
    url: jdbc:mysql://containers-us-west-17.railway.app:7412/railway?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: iHFYtVLUxyAHlqxmBkYZThoiFYOBuwsR
    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  port: 8080
